#ignore all .o file
*.o
*.exe
#*.html
#*.htm
*.doc
*.pyc
*.axf
*.map
*.bin
*.7z
*.zip
*.rar

.sconsign.dblite

bsp/*/obj/
bsp/*/build/
!bsp/*/*.([ch]|py|txt)
!bsp/*/SCons*

JLink*
project*

bsp/*/[Tt][Ee][Mm][Pp][Ll][Aa][Tt][Ee].*
bsp/*/[Pp][Rr][Oo][Jj][Ee][Cc][Tt].*

build-log-out.txt
rtthread-stm32.txt